# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Popular Languages
- Commonly Used Libraries
- Open Source Tools

Some of the popular languages that Data Scientists use are:
1. C++
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy

| Data Science Tools |
| ------------------ |
| Git |
| GitLab |
| Apache |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [8]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [9]:
200/60

3.3333333333333335

## Author

Christina Holloway